* {
	box-sizing: border-box;
	font-family: 'PT Mono', monospace;
}

html, body {
	background-image: url(http://gallery.yopriceville.com/var/albums/Nature/Forest_Trail_Landscape_Wallpaper.jpg?m=1370300400);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	margin-left: 0;
	margin-right: 0;
}

h1 {
	font-size: 72px;
	font-family: 'PT Mono', monospace;
	margin-bottom: 0;
	padding: 0;
}

h2 {
	margin-top: 0;
}

header, section, p {
	margin-left: 0;
	margin-right: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	color: white;
	position: relative;
	top: 135px;
}

input {
	padding: 10px;
	width: 450px;
}

button {
	background-color: #4CAF50;
	color: white;
	cursor: url('http://www.funpaperairplanes.com/img/fpa-logo.png'), pointer;
	border-radius: 5px;
	margin: 10px;
	padding: 8px;
}

